team-project-api.kgudevelopers.monster {
	reverse_proxy aics-api:8080
}

team-project-admin.kgudevelopers.monster {
	handle /pgadmin* {
		reverse_proxy pgadmin:80
	}

	handle {
		reverse_proxy aics-admin:8081
	}
}

team-project-auth.kgudevelopers.monster {
	reverse_proxy aics-auth:8082
}
